.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70vw;
  height: 90vh;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  color: rgb(0, 0, 0);
  background-color: beige;
  padding: 2rem
}

.new-todo {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgb(255, 255, 255);
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.title {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}
.title::after {
  content: '';
  width: 180px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: auto;
}
.container .form_todo {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .form_todo .form-control {
  width: 87%;
  height: 15px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
} 
.container .form_todo .btn {
  width: 10%;
  height: 35px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px;
  background: transparent;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
.container .form_todo .btn:hover {
  background: #fff;
  color: #276c91;
}

.todos_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 20px;
}

.todo_title {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.todo_title::after {
  content: '';
  width: 100px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: auto;
}
.todos_list {
  width: 50%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
}
.todo_card {
  width: 100%;
  height: auto;

  background: #fff;
  padding: 2px 5px;
  border-radius: 5px;
  margin-top: 3px;
  margin-right: 6px;
}
.card_text {
  margin: auto;
}

.icon-check-todo {

  color: #000;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
}
.icon-trash-todo {

  color: #000;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

.icon-progress-todo {
  background: #fff;
  color: green;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}
.completed_card {
  width: 100%;
  height: auto;
  color: #fff;
  background: #00b09b;
  padding: 10px 5px;
  border-radius: 5px;
  margin-top: 3px;
}